
   .mr-auto, .mx-auto{
    margin-right: auto!important;
    margin-top: 20px;
    margin-bottom: -3px;
   }
.bg-light {

    background-color: #ffffb2!important;
}

.margin-top-20{
     margin-top:20px;
}
.feature-img{
    max-height: 150px;
}
.footer-bottom{
    padding:20px;
    margin-top:20px;
    background:yellow ;
    opacity: .3; 
}

.product-item{
   
    border: yellow 5px solid;
}

.child-rows{
    margin-left: 20px;
    border-left: black 2px solid;
  
}



